*{
    margin: 0px;
    padding: 0px;
}
.top{
    width: 100%;
    height: 35px;
    background: rgb(245, 245, 245)
}
.row::after{
    content: "";
    display: table;
    clear: both;
    }
.top ul{
    width: 1240px;
    height: 35px;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
}
.top li{
    float: left;
    margin-right: 10px;
}
.top span{
    margin-left: 10px;
}
.top .register{
    float: right;
}
.register a{
    margin-left: 10px;
}
.top a:hover{
    color: rgb(255, 74, 0);
}
.header{
    width: 1240px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.hdone{
    position: absolute;
    right: 0px;
    top: 30px;
}

.hdtwo{
    position: absolute;
    right: 0px;
    top: 76px;
    position: relative;
}
.hdtwo-one{
    position: absolute;
    right: 170px;
    top: 14px;
}
.hdtwo button{
    width:120px;
    height: 44px;
    background: rgb(255, 219, 61);
    border: none;
    float: right;
}
.hdtwo .fdj{
    display: inline-block;
    width: 43px;
    height: 42px;
    line-height: 50px;
    border: 1px solid lightgray;
    position: absolute;
    left: 1073px;
    text-align: center;
}
.header input{
    width: 380px;
    height: 40px;
    position: absolute;
    right: 165px;
}
.hdthr{
    position: absolute;
    top: 50px;
}
.col-3 h3{
    margin-top: 5px;
    margin-bottom: 15px;
}
.col-3 span{
    display: inline-block;
    margin-bottom: 30px;
}
.container{
    width: 1240px;
    height: 1960px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    margin-top: 25px;
    position: relative;
}
.navbar-nav{
    float: left;
    width: 993px;
    height: 40px;

    background: rgb(64, 65, 68);
}
.navbar-nav li{
    float: left;
    margin-right: 25px;
    margin-left: 28px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;

}
.navbar-nav li a{
    color: white;
}
.navbar-brand{
    float: left;
    width: 245px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    background: rgb(255, 74, 0);
}
.ctone-thr{
    float: right;
    width: 993px;
    height: 423px;
}
.ctone-thr img{
    width: 100%;
    height: 423px;
}
.ctone-four{
    width: 993px;
    height: 170px;
    float: right;
}
.ctonef-one{
    width: 331px;
    height: 170px;
    float: left;
}
.ctone-two{
    float: left;
    width: 245px;
    height: 590px;

}
.ctone-tone a{
    color: rgb(255, 74, 0);
    font-weight: bold;
}
.ctone-two ul{
    width: 245px;
    height: 72px;
    border: 1px solid lightgray;
}
.ctnertwo{
    width: 1240px;
}

.ctone-two li{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 13px;
}
.ctnertwo-one{
    height: 60px;
    line-height: 60px;
}
.ctnertwo-two div{
    border: 1px solid lightgray;
    text-align: center;
    margin-top: 50px;
} 
.col-4one{
    width: 155px;
    height: 110px;
    float: right;
}
.col-4one img{
    height: 100%;
}
.col-4two img{
   height: 100%;
}
.col-4two{
    width: 155px;
    height: 110px;
    float: right;
}
.col-4{
    text-align: center;
    border: 1px solid lightgray;
    height: 315px;
}


.col-8{
    border: 1px solid lightgray;
}
.bordered{
    margin-top: 55px;
}
.container-r{
    width: 25%;
    height: 793px;
    position: absolute;
    right: 0px;
    top: 1047px;
}
.cr-one{
    height: 390px;
    border: 1px solid rgb(250, 250, 245);
}
.cr-two{
    height: 300px;
    border: 1px solid rgb(250, 250, 245);
    background: rgb(250, 250, 245);
    
}
.cr-thr{
    height: 254px;
    border: 1px solid rgb(250, 250, 245);
    background: rgb(250, 250, 245);
    
}
.cr-one{
    position: relative;
    background: rgb(250, 250, 245);
}
.crone-one{
    height: 130px;
}
.crone-one img{
    position: absolute;
    right: 20px;
    top:20px;
}
.crone-one span{
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.crone-one a{
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.crone-two{
    height: 130px;
}
.crone-two img{
    position: absolute;
    right: 20px;
    top:155px;
}
.crone-two span{
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.crone-two a{
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.crone-thr{
    height: 130px;
}
.crone-thr img{
    position: absolute;
    right: 20px;
    top:282px;
}
.crone-thr span{
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.crone-thr a{
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.cr-two p{
    height: 30px;
    line-height: 15px;
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    border-bottom:1px solid gray;

}
.cr-thr input{
    width: 200px;
    height: 35px;
    margin-top: 15px;
    margin-left: 30px;
}
.cr-thr p{
    margin-top: 15px;
    margin-left: 30px;
}
.cr-thr button{
    width: 204px;
    height: 35px;
    background: rgb(220, 222, 228);
    border: none;
    margin-top: 15px;
    margin-left: 30px;
}
.ft{
    width: 100%;
    margin-top: 35px;
    background: rgb(250, 250, 245);
}
.ftone{
    width: 1240px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}
.ftone-one{
    width: 248px;
    height: 160px;

    text-align: center;
    float: left;
}
.ftone-one img{
    margin-top: 50px;
}
.ftone-one p{
    margin-top: 15px;
}
.ftone-two{
    width: 248px;
    height: 160px;

    text-align: center;
    float: left;
}
.ftone-two img{
    margin-top: 50px;
}
.ftone-two p{
    margin-top: 15px;
}
.ftone-thr{
    width: 248px;
    height: 160px; 
    text-align: center;
    float: left;
}
.ftone-thr img{
    margin-top: 50px;
}
.ftone-thr p{
    margin-top: 15px;
}
.ftone-four{
    width: 248px;
    height: 160px;

    text-align: center;
    float: left;
}
.ftone-four img{
    margin-top: 50px;
}
.ftone-four p{
    margin-top: 15px;
}
.ftone-five{
    width: 248px;
    height: 160px;

    text-align: center;
    float: left;
}
.ftone-five img{
    margin-top: 50px;
}
.ftone-five p{
    margin-top: 15px;
}
.fttwo{
    width: 1240px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
}
.fttwo-one{
    width: 180px;
    height: 135px;
    border-right: 1px solid gray;  
    float: left; 
    margin-top: 25px;
}
.fttwo-one li{
    margin-top: 15px;
    margin-left: 50px;
}
.fttwo-one .fttwo-a{
    font-size: 16px;
}
.fttwo-six{
    width: 337px;
    height: 135px;
    float: left; 
    margin-top: 25px;
}
.fttwo-six h2{
    margin-left: 50px;
    margin-top: 13px;
}
.fttwo-six p{
    margin-left: 50px;
    margin-top: 13px;
}
.fttwo-six button{
    margin-left: 50px;
    margin-top: 13px;
}
