*{
    margin: 0px;
    padding: 0px;
}
.hdtwo{
    width: 1200px;
    height: 5px;
    background: pink;
    margin-left: auto;
    margin-right: auto;
}
.hd{
    width: 1200px;
    height: 50px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system,SF UI Text,
Arial,PingFang SC,Hiragino Sans GB,
Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.hdone{
    width: 1000px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.hdone a{
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    width: 90px;
    height: 50px;  
}
.hdone a:hover{
    background: pink;
    border-radius: 15px; 
}
button{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    background: pink;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    border: 1px solid pink;
}
button:hover{
    color: pink;
    background: black;
    border: 1px solid black;
}
.top{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.tpone{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
}
.tpone h1:hover{
    color: pink;
}
.tpone .left{
    display: block;
    width:80px;
    height: 1px;
    background: black;
    position: absolute;
    left: 320px;
    top: 82%;
}
.tpone .right{
    display: block;
    width:80px;
    height: 1px;
    background: black;
    position: absolute;
    left:600px;
    top: 82%;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.content{
    width: 1200px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.cttone{
    width: 1200px;
    height: 600px;
    background: url(img/finger.jpg) center no-repeat;
}
.readm{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bolder;
    color: pink;
    background: black;
    position: absolute;
    top: 508px;
    left: 1070px;
    cursor: pointer;
    border: 1px solid black;
}
.readm:hover{
    color: black;
    background: pink;
    border: 1px solid pink;
}
.ctttwo{
    width: 1200px;
    margin-top: 30px;
}
.m-musician{
    width: 250px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bolder;
    color: pink;
    background: pink url('smiley.gif') no-repeat center;
    -webkit-animation: mymove 5s infinite;

    animation: mymove 5s infinite;
    border-radius: 3px;
}

@keyframes mymove {
    50% {
        background: black bottom right;
    }
}
.cttfgone{
    margin-left: 20px;
    margin-top: 100px;
    width: 400px;
    height: 300px;
    float: left;
    color: black;
    font-size: 16px;
}
.cttfgone:hover{
    color:pink;
}
.music{
    width: 1200px;
    height: 400px;
}
.mrow{
    width:1200px;
    height: 5px;
    background: pink;
    margin-left: auto;
    margin-right: auto;
}
.mone{
    width:1200px;
    height: 36px;
    line-height: 36px;
    background: black; 
    border-radius: 7px;  
}
.mone a{
    display: inline-block;
    width: 100px;
    height: 36px;
    text-align: center;
   text-decoration: none;
   color: white;
   margin-left: 65px;
   margin-right:70px;   
}
.mone a:hover{
    background: pink;
    border-radius: 5px;
}
.mtwo .mtimg{
    width: 220px;
    height: 300px;
    float: left;
    margin-top: 5px;
    margin-left: 16px;
    opacity: 0.7;
}
.mtwo .mtimg:hover{
    opacity: 1;
}
.novel{
    width: 1200px;
    height: 390px;
}
.n-artical{
    width: 220px;
    line-height: 20px;
    font-size: 16px;
    color: pink;
    font-weight: bolder;
    background: pink url('smiley.gif') no-repeat center;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
    border-radius: 3px;
}

@-webkit-keyframes mymove {
    50% {
        background: black bottom right;
    }
}


.n-row{
    width:1200px;
    height: 5px;
    background: pink;
    margin-left: auto;
    margin-right: auto;
    
}
.n-one{
    width:1200px;
    height: 36px;
    line-height: 36px;
    background: black; 
    border-radius: 7px;  
}
.n-one a{
    display: inline-block;
    width: 100px;
    height: 36px;
    text-align: center;
   text-decoration: none;
   color: white;
   margin-left: 65px;
   margin-right:70px;   
}
.n-one a:hover{
    background: pink;
    border-radius: 5px;
}
.n-two .nt-img{
    margin-top: 5px;
    width: 220px;
    height: 300px;
    float: left;
    margin-left: 16px;
    opacity: 0.7;
}
.n-two .nt-img:hover{
    opacity: 1;
}
.cttfour{
    width: 1200px;
    height: 590px;
    position: relative;
}
.gaming{
    width: 1200px;
    height: 590px;
}
.g-one{
    width: 140px;
    line-height: 24px;
    font-size: 16px;
    background: black;
    color: pink;
    border-radius: 3px;
    background: pink url('smiley.gif') no-repeat center;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
    border-radius: 3px;
}

@-webkit-keyframes mymove {
    50% {
        background: black bottom right;
    }
}
.g-two{
    width: 1200px;
    height: 5px;
    background: pink;
}
.g-thr{
    width: 760px;
    height: 600px;
    margin-top: 0px;
    font-size: 13px;
    font-weight: bold;
}
.g-thr img{
    border-radius: 30px;
}
.g-four{
    width: 420px;
    height: 500px;
    position: absolute;
    top: 29px;
    right: 0px;
}
.gf-one{
    width: 420px;
    height: 40px;
    line-height: 40px;
    background: black;
    color: pink;
    text-align: center;
}
.gf-two{
    margin-top: 5px;
    width: 420px;
    height: 110px;
    position: relative;
}
.gg-about{
    display: inline-block;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 90px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;

}
.gg-about1{
    display: inline-block;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 180px;
    right: 90px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;

}
.gg-about2{
    display: inline-block;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 310px;
    right: 90px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.cttfive{
    width: 1200px;
    height: 400px;
    margin-top: 0px;

}
.cttft{
    width: 1000px;
    height: 400px;

    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.ftone{
    width: 300px;
    height: 400px;
    margin-left: -100px;
}
.ftone span{
    width: 250px;
    height: 1px;
    display: inline-block;
    background: black;
}
.ftone p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;
}
.ftone button{
    width: 85px;
    height: 30px;
    font-weight: bolder;
    background: pink;
    border: 1px solid pink;
    border-radius: 5px;
    margin-right: 675px;
    margin-top: 350px;
    text-align: center;
}
.ftone button:hover{
    background: black;
    color: pink;
    border: 1px solid black;
}
.fttwo{
    width: 300px;
    height: 400px;
    margin-left: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.fttwo{
    width: 300px;
    height: 400px;
    margin-left: 50px;
}
.fttwo span{
    width: 250px;
    height: 1px;
    display: inline-block;
    background: black;
}
.fttwo p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 50px;
}
.fttwo input{
    width: 280px;
    height: 40px;
    margin-bottom: 35px;
    padding-left: 15px;
    border-radius: 15px;
    outline: none;
}
.fttwo .submit{
    background: black;
    color: pink;
    border: 1px solid black;
    border-radius: 15px;
}
.gf-game img{
    opacity: 0.7;
}
.gf-game img:hover{
    opacity: 1;
}








