*{
    margin: 0px;
    padding: 0px;
}
.top{
    width: 100%;
    height: 80px;
}
.tp{
    width: 1100px;
    line-height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.tpone{
    float: right;
    width: 300px;
}
.tpone li{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    text-align: center;
    border-bottom: 2px solid white;
}
.tpone li:hover{
    border-bottom: 2px solid rgb(45, 174, 54);
}

.banner{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width:100%;
    height: 350px;
    position: relative;
}
.b-all img{
    width: 100%;
    position:absolute;
}
.btn{
    position:absolute;
    z-index: 100;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%)
}
.btn button{
    width:16px;
    height:16px;
    background: transparent;
    border-radius: 50%;
    border:1px solid grey;
    outline: none;
    cursor: pointer;
}
.btn button:hover{
    background: rgb(45, 174, 54);
}
.b-all img:not(:first-child){
    display: none;
}
.current{
    color:#fff;
}
.content{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.col-3 img{
    width:100px; 
}
.ctt-one{
    width: 1100px;
    height: 300px;
    text-align: center;
}
.ctt-one h1{
    margin-top: 45px;
    margin-bottom: 30px;
}
.col-3 h2{
    margin-bottom: 15px;
    color: rgb(45, 174, 54);
}
.col-3 p{
    color: grey;
    margin-bottom: 8px;
}
.ctt-two{
    width: 1100px;
}
.ctt-two p{
    width: 1063px;
    margin-left: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(45, 174, 54);
}
.ctt-two a{
    font-size: 24px;
    border-radius: 20px 0px 20px 0px;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: rgb(45, 174, 54);
    text-align: center;
    color: white;
}
.col-4{
    margin-bottom: 20px;
}
.col-4 img{
    width: 90%;
    margin-left: 25px;
}
.footer{
    float: left;
    width: 100%;
    height: 100px;
    background: rgb(221, 221, 221);
}
.ft{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.col-1 img{
    margin-top: 20px;
    margin-left: 25px;
}
.col-6{
    text-align: center;
    margin-top: 35px;
    margin-left: 155px;
}
.col-6 a{
    margin-left: 40px;
    margin-right: 40px;
}
.col-6 p{
    margin-top: 15px;
}
.col-2{
    float: right;
    margin-top: 20px;
}
.col-2 li{
    margin-bottom: 10px;
}
  

